@import './bemit/02-tools/mixins.scss';


@include lg{
    .layout{
        display: grid;
        grid-template-columns: 30rem 1fr;
        gap: 10px;
        overflow: hidden;
    } 
}

@include md{
    .layout{
        display: grid;
        grid-template-columns: 20rem 1fr;
        gap: 10px;
        overflow: hidden;
    } 
}


@include sm{
    .layout{
        display: grid;
        grid-template-columns: 11rem 1fr;
        gap: 10px;
        overflow: hidden;
    } 
}
