// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400&family=Roboto:ital,wght@1,100;1,400;1,500&display=swap');
$primaryFont: 'Roboto', sans-serif;
$secundaryFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


// Colores

$c-primary: #e99401;
$c-secondary:#455A64;
$black:#000000;
$white:#ffffff;
$greyLight:#eceeef;
 
// Unidades

$gap:5rem;


