@import "../../../bemit/02-tools/mixins.scss";

@include lg {
  .sidebar {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 12px;
    padding-right: 11px;
    min-height: 100vh;
  }

  .sidebar__historialContainer{
    display: flex;
  }
  .sidebar__containerHbtn{
    width: 2rem;
    background-color: white;
    color: black;
  }
  .sidebar__h3 {
    font-size: 30px;
    font-weight: bold;
  }
  .sidebar__button {
    cursor: pointer;
    margin: 0 auto;
    background: white;
    color: black;
    text-align: center;
    width: 180px;
    font-size: 16px;
    padding: 5px 20px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
  }

  .sidebar__parafo{
    font-size: 2rem;
}
}


@include md {
    .sidebar {
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 12px;
      padding-right: 11px;
      min-height: 100vh;
    }
    .sidebar__h3 {
      font-size: 2rem;
      font-weight: bold;
    }
    .sidebar__historialContainer{
      display: flex;
    }
    .sidebar__containerHbtn{
      width: 2rem;
      background-color: white;
      color: black;
    }

    .sidebar__button {
      cursor: pointer;
      margin: 0 auto;
      background: white;
      color: black;
      text-align: center;
      width: 10rem;
      font-size: 16px;
      padding: 5px 20px;
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      -ms-border-radius: 13px;
      -o-border-radius: 13px;
    }
    .sidebar__parafo{
        font-size: 1.5rem;
    }
  }

  @include sm {
    .sidebar {
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 12px;
      padding-right: 11px;
      min-height: 100vh;
    }
    .sidebar__h3 {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .sidebar__historialContainer{
      display: flex;
    }
    .sidebar__containerHbtn{
      width: 1.2rem;
      background-color: white;
      color: black;
    }
    .sidebar__button {
      cursor: pointer;
      margin: 0 auto;
      background: white;
      color: black;
      text-align: center;
      width: 6rem;
      font-size: 10px;
      padding: 3px 10px;
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      -ms-border-radius: 13px;
      -o-border-radius: 13px;
    }

    .sidebar__parafo{
        font-size: .8rem;
    }
  }